REDIS_URL=redis://redis
DATABASE_URL="postgres://universal_auto_dev:pass@postgres:5432/universal_auto_dev"
SECRET_KEY="fxl87l#zh0ekdc3#z9ri*5%d4w1lj4ci3-7(80=gie@g7tr"
UDP_IP=0.0.0.0
CELERY_BROKER_URL=redis://redis
CELERY_RESULT_BACKEND=redis://redis
SELENIUM_HUB_HOST=http://chrome:4444/wd/hub
DEBUG="True"
WEBHOOK_URL="https://ab1d-2a02-715a-8b2-b700-bcc3-3d7c-a0be-d2f0.ngrok-free.app"
ALLOWED_HOSTS="127.0.0.1 0.0.0.0 localhost ab1d-2a02-715a-8b2-b700-bcc3-3d7c-a0be-d2f0.ngrok-free.app"
CSRF_TRUSTED_ORIGINS="http://127.0.0.1 http://168.220.93.200 http://localhost"
TELEGRAM_TOKEN=